@font-face {
  font-family: "Kanit";
  src: url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600&display=swap");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Kanit", sans-serif !important;
}
